.c-form {
  form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 16px;
    color: #A19DA1;
    padding-bottom: 5px;
  }
  &__input {
    padding: 18px 5px;
    font-size: 16px;
    background: #f8f8f8;
    border: -35px solid #e4dee3;
    border-radius: 8px;
  }
  &__check {
    display: flex;
    align-content: center;
    padding: 10px 0 2em 0;
    &--input {
      height: 18px;
      width: 18px;
      border-radius: 8px;
    }
    &--input::after {
      display: none;
    }
    &--span {
      font-size: 16px;
      color: #4c494b;
      padding-left: 5px;
      font-weight: 500;
    }
  }

  &__submit {
    &--button {
      background: #FEFEFE;
      color: #4c494b;
      height: 65px;
      width: 100%;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 600px) {
  .c-form {
    &__label {
      font-size: 18px;
    }
    &__check {
      &--input {
        height: 20px;
        width: 20px;
      }
      &--span {
        font-size: 18px;
      }
    }
  
    &__submit {
      &--button {
        font-size: 18px;
        height: auto;
        width: auto;
        padding: 18px 36px;
      }
    }
  }
}